body {
    background: #f2f7ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h1 {
    text-align: center;
    color: #2563eb;
}

.balance {
    text-align: center;
    margin: 20px 0;
}

form input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f1f5f9;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}